### Exámen Final - Mortalidad Materna

#### Introducción
La base de datos contiene información de los casos de defunción relacionados con la mortalidad materna, esta información es pública.

In [23]:
# Importación de librerias necesarias

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [24]:
# Lectura de datos del archivo mortalidad.csv

Mort = pd.read_csv('mortalidad.csv')

In [25]:
# Impresión de los datos en forma ruda

print(Mort)

       Año de nacimiento  Mes de nacimiento Descripción del mes de nacimiento  \
0                   1972                  6                             JUNIO
1                   1967                  2                           FEBRERO
2                   1973                  6                             JUNIO
3                   1966                  1                             ENERO
4                   1975                  0                   NO ESPECIFICADO
5                   1975                  0                   NO ESPECIFICADO
6                   1985                  0                   NO ESPECIFICADO
7                   1978                  7                             JULIO
8                   1958                  9                        SEPTIEMBRE
9                   1970                  5                              MAYO
10                  1972                  4                             ABRIL
11                  1966                  1                             ENERO
12                  1969                  0                   NO ESPECIFICADO
13                  1973                  0                   NO ESPECIFICADO
14                  1960                  4                             ABRIL
15                  1963                  2                           FEBRERO
16                  1988                  0                   NO ESPECIFICADO
17                  1978                  0                   NO ESPECIFICADO
18                  1974                  0                   NO ESPECIFICADO
19                  1970                  8                            AGOSTO
20                  1974                  2                           FEBRERO
21                  1977                  5                              MAYO
22                  1983                  4                             ABRIL
23                  1992                  3                             MARZO
24                  1989                  3                             MARZO
25                  1987                  9                        SEPTIEMBRE
26                  1966                  9                        SEPTIEMBRE
27                  1968                 10                           OCTUBRE
28                  1985                  0                   NO ESPECIFICADO
29                  1971                  8                            AGOSTO
...                  ...                ...                               ...
17202               1990                 12                         DICIEMBRE
17203               1977                  8                            AGOSTO
17204               1988                 11                         NOVIEMBRE
17205               1986                  1                             ENERO
17206               1985                  2                           FEBRERO
17207               1982                  8                            AGOSTO
17208               1986                  5                              MAYO
17209               1999                  7                             JULIO
17210               1982                  3                             MARZO
17211               2000                  8                            AGOSTO
17212               1989                  9                        SEPTIEMBRE
17213               1995                 10                           OCTUBRE
17214               1984                 12                         DICIEMBRE
17215               1995                  4                             ABRIL
17216               1990                  8                            AGOSTO
17217               1988                  9                        SEPTIEMBRE
17218               1992                 10                           OCTUBRE
17219               1987                  5                              MAYO
17220               2000                  6                             JUNIO
17221               1989                  5                              MAYO
17222               1989                  5                              MAYO
17223               1979                  7                             JULIO
17224               1989                 12                         DICIEMBRE
17225               1993                  6                             JUNIO
17226               1989                  8                            AGOSTO
17227               1995                 10                           OCTUBRE
17228               1971                 11                         NOVIEMBRE
17229               1994                 11                         NOVIEMBRE
17230               1976                  5                              MAYO
17231               1990                  8                            AGOSTO

       Día de nacimiento  Genero Clave de la edad  Edad cumplida  \
0                     25       2                A             29
1                      1       2                A             35
2                     21       2                A             29
3                     23       2                A             36
4                      0       2                A             30
5                      0       2                A             30
6                      0       2                A             20
7                      9       2                A             27
8                     29       2                A             43
9                     24       2                A             31
10                    28       2                A             31
11                     6       2                A             35
12                     0       2                A             39
13                     0       2                A             29
14                    21       2                A             45
15                    16       2                A             42
16                     0       2                A             17
17                     0       2                A             35
18                     0       2                A             39
19                    25       2                A             43
20                    16       2                A             38
21                    20       2                A             36
22                    29       2                A             26
23                     8       2                A             17
24                     0       2                A             21
25                    16       2                A             22
26                    28       2                A             45
27                     1       2                A             43
28                     0       2                A             26
29                    14       2                A             40
...                  ...     ...              ...            ...
17202                 19       2                A             25
17203                 30       2                A             39
17204                 25       2                A             27
17205                 12       2                A             30
17206                 16       2                A             31
17207                 29       2                A             33
17208                  3       2                A             30
17209                 22       2                A             16
17210                  4       2                A             34
17211                  9       2                A             16
17212                 20       2                A             26
17213                 20       2                A             21
17214                  3       2                A             32
17215                  8       2                A             21
17216                 13       2                A             25
17217                 20       2                A             27
17218                 17       2                A             23
17219                 30       2                A             29
17220                 23       2                A             16
17221                  1       2                A             27
17222                 12       2                A             27
17223                 14       2                A             37
17224                 23       2                A             26
17225                  8       2                A             23
17226                  2       2                A             27
17227                  6       2                A             20
17228                 14       2                A             45
17229                 26       2                A             21
17230                 12       2                A             39
17231                 20       2                A             25

       Estado conyugal Descripción del estado conyugal  Entidad de residencia  \
0                    5                          CASADO                     31
1                    5                          CASADO                     31
2                    5                          CASADO                     31
3                    5                          CASADO                     31
4                    5                          CASADO                      9
5                    5                          CASADO                      9
6                    5                          CASADO                     15
7                    5                          CASADO                     15
8                    5                          CASADO                     32
9                    5                          CASADO                     32
10                   5                          CASADO                      3
11                   5                          CASADO                     11
12                   5                          CASADO                     16
13                   5                          CASADO                     30
14                   5                          CASADO                     27
15                   5                          CASADO                      7
16                   5                          CASADO                     28
17                   5                          CASADO                      7
18                   0                       SE IGNORA                     18
19                   5                          CASADO                     15
20                   5                          CASADO                     12
21                   5                          CASADO                     15
22                   5                          CASADO                     20
23                   5                          CASADO                     30
24                   5                          CASADO                      7
25                   5                          CASADO                     30
26                   5                          CASADO                     18
27                   5                          CASADO                     21
28                   5                          CASADO                     23
29                   5                          CASADO                     30
...                ...                             ...                    ...
17202                1                         SOLTERO                     30
17203                5                          CASADO                     30
17204                5                          CASADO                     30
17205                4                     UNION LIBRE                     30
17206                5                          CASADO                     31
17207                5                          CASADO                     31
17208                5                          CASADO                     23
17209                1                         SOLTERO                     31
17210                2                           VIUDO                     31
17211                4                     UNION LIBRE                     31
17212                4                     UNION LIBRE                     31
17213                4                     UNION LIBRE                     31
17214                5                          CASADO                      4
17215                1                         SOLTERO                     31
17216                4                     UNION LIBRE                     32
17217                4                     UNION LIBRE                     32
17218                4                     UNION LIBRE                     32
17219                5                          CASADO                      1
17220                1                         SOLTERO                     32
17221                4                     UNION LIBRE                     32
17222                4                     UNION LIBRE                     32
17223                5                          CASADO                     30
17224                1                         SOLTERO                     30
17225                4                     UNION LIBRE                     30
17226                1                         SOLTERO                     30
17227                1                         SOLTERO                     31
17228                5                          CASADO                     32
17229                1                         SOLTERO                     31
17230                5                          CASADO                     32
17231                5                          CASADO                     32

                             ...                         Mes de registro  \
0                            ...                                       1
1                            ...                                       7
2                            ...                                      10
3                            ...                                      10
4                            ...                                       4
5                            ...                                       4
6                            ...                                       5
7                            ...                                      10
8                            ...                                       1
9                            ...                                       4
10                           ...                                       9
11                           ...                                       1
12                           ...                                       2
13                           ...                                       3
14                           ...                                       6
15                           ...                                       7
16                           ...                                       3
17                           ...                                       2
18                           ...                                       5
19                           ...                                       9
20                           ...                                       1
21                           ...                                       9
22                           ...                                       2
23                           ...                                      12
24                           ...                                       3
25                           ...                                      11
26                           ...                                      10
27                           ...                                      11
28                           ...                                       5
29                           ...                                      12
...                          ...                                     ...
17202                        ...                                      10
17203                        ...                                       9
17204                        ...                                      10
17205                        ...                                      12
17206                        ...                                       5
17207                        ...                                       5
17208                        ...                                       6
17209                        ...                                       7
17210                        ...                                       7
17211                        ...                                       9
17212                        ...                                       9
17213                        ...                                      11
17214                        ...                                      12
17215                        ...                                      12
17216                        ...                                       1
17217                        ...                                       5
17218                        ...                                       6
17219                        ...                                      10
17220                        ...                                      11
17221                        ...                                      11
17222                        ...                                      12
17223                        ...                                      11
17224                        ...                                       8
17225                        ...                                       7
17226                        ...                                      12
17227                        ...                                       7
17228                        ...                                      12
17229                        ...                                       1
17230                        ...                                       1
17231                        ...                                       4

       Descripción del mes de registro Día de registro  \
0                                ENERO              20
1                                JULIO              28
2                              OCTUBRE              24
3                              OCTUBRE              20
4                                ABRIL               8
5                                ABRIL              29
6                                 MAYO              18
7                              OCTUBRE               9
8                                ENERO               0
9                                ABRIL               0
10                          SEPTIEMBRE              20
11                               ENERO               5
12                             FEBRERO              22
13                               MARZO              24
14                               JUNIO               8
15                               JULIO              12
16                               MARZO               4
17                             FEBRERO              27
18                                MAYO              17
19                          SEPTIEMBRE              11
20                               ENERO               2
21                          SEPTIEMBRE              17
22                             FEBRERO              17
23                           DICIEMBRE               6
24                               MARZO               5
25                           NOVIEMBRE              29
26                             OCTUBRE              10
27                           NOVIEMBRE              14
28                                MAYO              20
29                           DICIEMBRE              16

In [26]:
# Impresión de los datos con DataFrame

pd.DataFrame(Mort)

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...
5,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,29,2005.0,4,ABRIL,29.0,2005,1,Muertes Maternas para la razón de Mortalidad M...
6,1985,0,NO ESPECIFICADO,0,2,A,20,5,CASADO,15,...,5,MAYO,18,2005.0,5,MAYO,17.0,2005,1,Muertes Maternas para la razón de Mortalidad M...
7,1978,7,JULIO,9,2,A,27,5,CASADO,15,...,10,OCTUBRE,9,2005.0,10,OCTUBRE,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...
8,1958,9,SEPTIEMBRE,29,2,A,43,5,CASADO,32,...,1,ENERO,0,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
9,1970,5,MAYO,24,2,A,31,5,CASADO,32,...,4,ABRIL,0,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
10,1972,4,ABRIL,28,2,A,31,5,CASADO,3,...,9,SEPTIEMBRE,20,NaN,0,NO ESPECIFICADO,NaN,2003,1,Muertes Maternas para la razón de Mortalidad M...
11,1966,1,ENERO,6,2,A,35,5,CASADO,11,...,1,ENERO,5,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
12,1969,0,NO ESPECIFICADO,0,2,A,39,5,CASADO,16,...,2,FEBRERO,22,2008.0,2,FEBRERO,21.0,2008,1,Muertes Maternas para la razón de Mortalidad M...
13,1973,0,NO ESPECIFICADO,0,2,A,29,5,CASADO,30,...,3,MARZO,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
14,1960,4,ABRIL,21,2,A,45,5,CASADO,27,...,6,JUNIO,8,2005.0,6,JUNIO,8.0,2005,0,Muertes Maternas excluidas para la razón de Mo...
15,1963,2,FEBRERO,16,2,A,42,5,CASADO,7,...,7,JULIO,12,2005.0,7,JULIO,11.0,2005,1,Muertes Maternas para la razón de Mortalidad M...
16,1988,0,NO ESPECIFICADO,0,2,A,17,5,CASADO,28,...,3,MARZO,4,2005.0,2,FEBRERO,28.0,2005,1,Muertes Maternas para la razón de Mortalidad M...
17,1978,0,NO ESPECIFICADO,0,2,A,35,5,CASADO,7,...,2,FEBRERO,27,2013.0,2,FEBRERO,27.0,2013,1,Muertes Maternas para la razón de Mortalidad M...
18,1974,0,NO ESPECIFICADO,0,2,A,39,0,SE IGNORA,18,...,5,MAYO,17,2013.0,5,MAYO,16.0,2013,1,Muertes Maternas para la razón de Mortalidad M...
19,1970,8,AGOSTO,25,2,A,43,5,CASADO,15,...,9,SEPTIEMBRE,11,2013.0,9,SEPTIEMBRE,10.0,2013,1,Muertes Maternas para la razón de Mortalidad M...
20,1974,2,FEBRERO,16,2,A,38,5,CASADO,12,...,1,ENERO,2,2012.0,12,DICIEMBRE,12.0,2012,1,Muertes Maternas para la razón de Mortalidad M...
21,1977,5,MAYO,20,2,A,36,5,CASADO,15,...,9,SEPTIEMBRE,17,2013.0,9,SEPTIEMBRE,16.0,2013,0,Muertes Maternas excluidas para la razón de Mo...
22,1983,4,ABRIL,29,2,A,26,5,CASADO,20,...,2,FEBRERO,17,2009.0,2,FEBRERO,16.0,2009,1,Muertes Maternas para la razón de Mortalidad M...
23,1992,3,MARZO,8,2,A,17,5,CASADO,30,...,12,DICIEMBRE,6,2009.0,12,DICIEMBRE,5.0,2009,1,Muertes Maternas para la razón de Mortalidad M...
24,1989,3,MARZO,0,2,A,21,5,CASADO,7,...,3,MARZO,5,2010.0,3,MARZO,5.0,2010,1,Muertes Maternas para la razón de Mortalidad M...
25,1987,9,SEPTIEMBRE,16,2,A,22,5,CASADO,30,...,11,NOVIEMBRE,29,2009.0,11,NOVIEMBRE,28.0,2009,1,Muertes Maternas para la razón de Mortalidad M...
26,1966,9,SEPTIEMBRE,28,2,A,45,5,CASADO,18,...,10,OCTUBRE,10,2011.0,10,OCTUBRE,9.0,2011,1,Muertes Maternas para la razón de Mortalidad M...
27,1968,10,OCTUBRE,1,2,A,43,5,CASADO,21,...,11,NOVIEMBRE,14,2011.0,11,NOVIEMBRE,14.0,2011,1,Muertes Maternas para la razón de Mortalidad M...
28,1985,0,NO ESPECIFICADO,0,2,A,26,5,CASADO,23,...,5,MAYO,20,2011.0,5,MAYO,20.0,2011,1,Muertes Maternas para la razón de Mortalidad M...
29,1971,8,AGOSTO,14,2,A,40,5,CASADO,30,...,12,DICIEMBRE,16,2011.0,12,DICIEMBRE,15.0,2011,1,Muertes Maternas para la razón de Mortalidad M...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17202,1990,12,DICIEMBRE,19,2,A,25,1,SOLTERO,30,...,10,OCTUBRE,21,2016.0,10,OCTUBRE,20.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17203,1977,8,AGOSTO,30,2,A,39,5,CASADO,30,...,9,SEPTIEMBRE,0,2016.0,9,SEPTIEMBRE,3.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17204,1988,11,NOVIEMBRE,25,2,A,27,5,CASADO,30,...,10,OCTUBRE,0,2016.0,10,OCTUBRE,28.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17205,1986,1,ENERO,12,2,A,30,4,UNION LIBRE,30,...,12,DICIEMBRE,19,2016.0,12,DICIEMBRE,19.0,2016,0,Muertes Maternas excluidas para la razón de Mo...
17206,1985,2,FEBRERO,16,2,A,31,5,CASADO,31,...,5,MAYO,8,2016.0,5,MAYO,8.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17207,1982,8,AGOSTO,29,2,A,33,5,CASADO,31,...,5,MAYO,22,2016.0,5,MAYO,21.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17208,1986,5,MAYO,3,2,A,30,5,CASADO,23,...,6,JUNIO,29,2016.0,6,JUNIO,29.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17209,1999,7,JULIO,22,2,A,16,1,SOLTERO,31,...,7,JULIO,3,2016.0,7,JULIO,3.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17210,1982,3,MARZO,4,2,A,34,2,VIUDO,31,...,7,JULIO,15,2016.0,7,JULIO,15.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17211,2000,8,AGOSTO,9,2,A,16,4,UNION LIBRE,31,...,9,SEPTIEMBRE,14,2016.0,9,SEPTIEMBRE,14.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17212,1989,9,SEPTIEMBRE,20,2,A,26,4,UNION LIBRE,31,...,9,SEPTIEMBRE,16,2016.0,9,SEPTIEMBRE,16.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17213,1995,10,OCTUBRE,20,2,A,21,4,UNION LIBRE,31,...,11,NOVIEMBRE,22,2016.0,11,NOVIEMBRE,21.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17214,1984,12,DICIEMBRE,3,2,A,32,5,CASADO,4,...,12,DICIEMBRE,14,2016.0,12,DICIEMBRE,14.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17215,1995,4,ABRIL,8,2,A,21,1,SOLTERO,31,...,12,DICIEMBRE,29,2016.0,12,DICIEMBRE,29.0,2016,0,Muertes Maternas excluidas para la razón de Mo...
17216,1990,8,AGOSTO,13,2,A,25,4,UNION LIBRE,32,...,1,ENERO,6,2016.0,1,ENERO,3.0,2016,0,Muertes Maternas excluidas para la razón de Mo...
17217,1988,9,SEPTIEMBRE,20,2,A,27,4,UNION LIBRE,32,...,5,MAYO,12,2016.0,5,MAYO,6.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17218,1992,10,OCTUBRE,17,2,A,23,4,UNION LIBRE,32,...,6,JUNIO,1,2016.0,6,JUNIO,1.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17219,1987,5,MAYO,30,2,A,29,5,CASADO,1,...,10,OCTUBRE,26,2016.0,10,OCTUBRE,23.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17220,2000,6,JUNIO,23,2,A,16,1,SOLTERO,32,...,11,NOVIEMBRE,14,2016.0,11,NOVIEMBRE,12.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17221,1989,5,MAYO,1,2,A,27,4,UNION LIBRE,32,...,11,NOVIEMBRE,10,2016.0,11,NOVIEMBRE,10.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17222,1989,5,MAYO,12,2,A,27,4,UNION LIBRE,32,...,12,DICIEMBRE,29,2016.0,12,DICIEMBRE,25.0,2016,0,Muertes Maternas excluidas para la razón de Mo...
17223,1979,7,JULIO,14,2,A,37,5,CASADO,30,...,11,NOVIEMBRE,25,2016.0,11,NOVIEMBRE,24.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17224,1989,12,DICIEMBRE,23,2,A,26,1,SOLTERO,30,...,8,AGOSTO,29,2016.0,8,AGOSTO,28.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17225,1993,6,JUNIO,8,2,A,23,4,UNION LIBRE,30,...,7,JULIO,11,2016.0,7,JULIO,10.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17226,1989,8,AGOSTO,2,2,A,27,1,SOLTERO,30,...,12,DICIEMBRE,7,2016.0,12,DICIEMBRE,6.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17227,1995,10,OCTUBRE,6,2,A,20,1,SOLTERO,31,...,7,JULIO,11,2016.0,7,JULIO,11.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17228,1971,11,NOVIEMBRE,14,2,A,45,5,CASADO,32,...,12,DICIEMBRE,14,2016.0,12,DICIEMBRE,8.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17229,1994,11,NOVIEMBRE,26,2,A,21,1,SOLTERO,31,...,1,ENERO,2,2016.0,1,ENERO,2.0,2016,1,Muertes Maternas para la razón de Mortalidad M...
17230,1976,5,MAYO,12,2,A,39,5,CASADO,32,...,1,ENERO,25,2016.0,1,ENERO,21.0,2016,0,Muertes Maternas excluidas para la razón de Mo...
17231,1990,8,AGOSTO,20,2,A,25,5,CASADO,32,...,4,ABRIL,7,2016.0,4,ABRIL,4.0,2016,1,Muertes Maternas para la razón de Mortalidad M...

In [27]:
# Impresión de las primeras 5 filas

Mort.head()

,Año de nacimiento,Mes de nacimiento,Descripción del mes de nacimiento,Día de nacimiento,Genero,Clave de la edad,Edad cumplida,Estado conyugal,Descripción del estado conyugal,Entidad de residencia,...,Mes de registro,Descripción del mes de registro,Día de registro,Año de la certificación,Mes de la certificación,Descripció del mes de la certificación,Día de la certificación,Año de la base de datos,Razón de mortalidad materna,Descrición de la razón de mortalidad materna
0,1972,6,JUNIO,25,2,A,29,5,CASADO,31,...,1,ENERO,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
1,1967,2,FEBRERO,1,2,A,35,5,CASADO,31,...,7,JULIO,28,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
2,1973,6,JUNIO,21,2,A,29,5,CASADO,31,...,10,OCTUBRE,24,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
3,1966,1,ENERO,23,2,A,36,5,CASADO,31,...,10,OCTUBRE,20,NaN,0,NO ESPECIFICADO,NaN,2002,1,Muertes Maternas para la razón de Mortalidad M...
4,1975,0,NO ESPECIFICADO,0,2,A,30,5,CASADO,9,...,4,ABRIL,8,2005.0,4,ABRIL,8.0,2005,1,Muertes Maternas para la razón de Mortalidad M...

### Nombre de los encabezados

In [28]:
# Impresión de los encabezados de la base de datos con DataFrame

Enca=list(Mort.columns.values)
pd.DataFrame(Enca)

                                                   0
0                                  Año de nacimiento
1                                  Mes de nacimiento
2                  Descripción del mes de nacimiento
3                                  Día de nacimiento
4                                             Genero
5                                   Clave de la edad
6                                      Edad cumplida
7                                    Estado conyugal
8                    Descripción del estado conyugal
9                              Entidad de residencia
10              Descripción de entidad de residencia
11                           Municipio de residencia
12           Descripción del municipio de residencia
13                           Localidad de residencia
14          Descripión de la localidad de residencia
15                               Tamaño de localidad
16               Descripción del tamaño de localidad
17                                Ocupación habitual
18              Descripción de la ocupación habitual
19                                       Escolaridad
20                     Descripción de la escolaridad
21                                 Derechiahabiencia
22                Descrición de la derechiahabiencia
23                             Entidad de ocurrencia
24           Descripción de la entidad de ocurrencia
25                           Municipio de ocurrencia
26            Descrición del municipio de ocurrencia
27                           Localidad de ocurrencia
28          Descrición de la localidad de ocurrencia
29                  Sitio donde ocurrio la defunción
30  Descripción del sitio donde ocurrio la defunción
31                               Año de la defunción
32                               Mes de la defunción
33                Descrición del mes de la defunción
34                               Día de la defunción
35                              Hora de la defunción
36                           Minutos de la defunción
37                                 Asistencia médica
38               Descripción de la asistencia médica
39                        Causa CIE a  cuarto dígito
40                        Descrición de la causa CIE
41                                   Quien certificó
42                     Descrición de quien certificó
43                               Entidad de registro
44              Descrición de la entidad de registro
45                             Municipio de registro
46              Descrición del municipio de registro
47                                   Año de registro
48                                   Mes de registro
49                   Descripción del mes de registro
50                                   Día de registro
51                           Año de la certificación
52                           Mes de la certificación
53            Descripció del mes de la certificación
54                           Día de la certificación
55                           Año de la base de datos
56                       Razón de mortalidad materna
57      Descrición de la razón de mortalidad materna

### Muestra un DataFrame que contenga: Edad cumplida, Descripción del estado conyugal, Tamaño de localidad, Localidad de ocurrencia, Descrición de la localidad de ocurrencia

In [83]:
# Nuevo DataFrame con la información solicitada e impresión de las primeras 5 filas

Mort2 = Mort[['Edad cumplida','Descripción del estado conyugal','Tamaño de localidad','Localidad de ocurrencia','Descrición de la localidad de ocurrencia']]

Mort2.head()

,Edad cumplida,Descripción del estado conyugal,Tamaño de localidad,Localidad de ocurrencia,Descrición de la localidad de ocurrencia
0,29,CASADO,9,1,311020001 Valladolid
1,35,CASADO,9,1,310500001 Mérida
2,29,CASADO,4,1,310560001 Oxkutzcab
3,36,CASADO,1,1,310500001 Mérida
4,30,CASADO,0,0,090160000 No especificado

### ¿Cuántas edades diferentes tenían las madres cuando fallecieron? Obten los estadísticos para esta columna y los valores de las edades diferentes.

In [105]:
# Número de edades diferentes que tenían las madres cuando murieron que existen en la base de datos

Difedad=len(Mort['Edad cumplida'].unique())

print('Existen '+str(Difedad)+' edades diferentes en la base de datos.')

Existen 50 edades diferentes en la base de datos.

In [50]:
# Estadísticos básicos de la columna Edad cumplida

pd.DataFrame(Mort['Edad cumplida'].describe())

       Edad cumplida
count   17232.000000
mean       29.765727
std        36.916010
min        11.000000
25%        22.000000
50%        28.000000
75%        34.000000
max       998.000000

In [47]:
# Lista de edades diferentes que existen en la base de datos impresos en DataFrame

pd.DataFrame(Mort['Edad cumplida'].unique())

      0
0    29
1    35
2    36
3    30
4    20
5    27
6    43
7    31
8    39
9    45
10   42
11   17
12   38
13   26
14   21
15   22
16   40
17   44
18   34
19   41
20   33
21   13
22   24
23   25
24   37
25   19
26   23
27   32
28   28
29  998
30   15
31   46
32   48
33   16
34   18
35   12
36   47
37   14
38   51
39   50
40   54
41   49
42   11
43   53
44   81
45   70
46   82
47   59
48   86
49   65

### Imprime los valores de los años de defunción ¿ Existen datos que son lógicos, es decir, están correctos?

In [93]:
# Lista de edades diferentes que existen en la base de datos impresos en DataFrame

ListEda=pd.DataFrame(Mort['Año de la defunción'].unique())

pd.DataFrame(ListEda)

       0
0   2002
1   2005
2   2003
3   2008
4   2013
5   2012
6   2009
7   2010
8   2011
9   2004
10  2006
11  2007
12  2001
13  1979
14  1989
15  1974
16  1964
17  1982
18  1959
19  1990
20  1980
21  1994
22  1977
23  1976
24  1938
25  1970
26  1949
27  1997
28  1956
29  1961
..   ...
39  1993
40  1992
41  1972
42  1973
43  1986
44  1988
45  1937
46  1965
47  1944
48  1987
49  1943
50  1958
51  1967
52  1968
53  1995
54  1991
55  1969
56  1999
57  1966
58  1963
59  1953
60  1954
61  1962
62  1950
63  1996
64  2014
65  2015
66  1914
67  1951
68  2016

[69 rows x 1 columns]

In [96]:
# Imprimo los primeros 35 registros para analizarlos

ListEda.head(35)

       0
0   2002
1   2005
2   2003
3   2008
4   2013
5   2012
6   2009
7   2010
8   2011
9   2004
10  2006
11  2007
12  2001
13  1979
14  1989
15  1974
16  1964
17  1982
18  1959
19  1990
20  1980
21  1994
22  1977
23  1976
24  1938
25  1970
26  1949
27  1997
28  1956
29  1961
30  1957
31  1985
32  1975
33  2000
34     0

In [99]:
# Imprimo los últimos 34 registros para analizarlos
ListEda.tail(34)

       0
35  1948
36  1971
37  1978
38  1984
39  1993
40  1992
41  1972
42  1973
43  1986
44  1988
45  1937
46  1965
47  1944
48  1987
49  1943
50  1958
51  1967
52  1968
53  1995
54  1991
55  1969
56  1999
57  1966
58  1963
59  1953
60  1954
61  1962
62  1950
63  1996
64  2014
65  2015
66  1914
67  1951
68  2016

#### No, no todos los datos son correctos pues tenemos un registro con valor 0 en nuestra información. Estamos analizando los años de defunción por lo cuál esperamos un año como valor.

### ¿Cuántos tipos de escolaridad existen? ¿Hay datos innecesarios o equivocados en la base de datos?

In [77]:
#Número de tipos de escolaridad que existen en la base de datos

Esco=len(Mort['Descripción de la escolaridad'].unique())
print('Existen '+str(Esco)+' tipos de escolaridad diferentes en la base de datos.')

Existen 12 tipos de escolaridad diferentes en la base de datos.

In [78]:
# Lista de tipos de escolaridad que existen en la base de datos impresos en DataFrame

pd.DataFrame(Mort['Descripción de la escolaridad'].unique())

                                         0
0                      PRIMARIA INCOMPLETA
1                    SECUNDARIA INCOMPLETA
2                              PROFESIONAL
3                                  NINGUNA
4                      SECUNDARIA COMPLETA
5                          NO ESPECIFICADO
6                                 POSGRADO
7                        PRIMARIA COMPLETA
8     BACHILLERATO O PREPARATORIA COMPLETA
9   BACHILLERATO O PREPARATORIA INCOMPLETA
10                     NO ESPECIFICADO\r\n
11                              PREESCOLAR

#### Si, si hay datos innecesarios en la base de datos; el dato NO ESPECIFICADO\r\n

### ¿Qué entidad tiene mayor número muertes?

In [101]:
# Lista de entidades de ocurrencia que existen en la base de datos impresos en DataFrame

pd.DataFrame(Mort['Descripción de la entidad de ocurrencia'].unique())

                                  0
0                           Yucatán
1                  Distrito Federal
2                            México
3                         Zacatecas
4               Baja California Sur
5                        Guanajuato
6               Michoacán de Ocampo
7   Veracruz de Ignacio de la Llave
8                           Tabasco
9                        Tamaulipas
10                          Chiapas
11                          Nayarit
12                         Guerrero
13                           Puebla
14                     Quintana Roo
15                           Oaxaca
16                           Sonora
17                Querétaro Arteaga
18                       Nuevo León
19                          Sinaloa
20                        Chihuahua
21                  San Luis Potosí
22                          Hidalgo
23                          Durango
24                          Morelos
25                         Tlaxcala
26                         Campeche
27             Coahuila de Zaragoza
28                  Baja California
29                          Jalisco
30                   Aguascalientes
31                           Colima
32   Estados Unidos de Norteamérica
33                        Querétaro